p{
	padding: 0;
	margin: 0;
}

.registry-petCard__cols{
	display: flex;
	justify-content: space-between;

}

.registry-petCard__cols__col2__item{
	display: flex;
}

.registry-petCard__item{
	display: flex;
}