<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
{{ form.media }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.715">
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/slider.css" %}">
	<script type="text/javascript" src="{% static "js/script.js" %}"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="{% static "js/slick.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/slider.js" %}"></script>
    <title>Поиск питомцев</title>
</head>
<body>

<div class="container-fuild">
    {% block main %}
    {% endblock %}
    <footer id="sticky-footer" class="py-4 bg-dark text-white-50 mt-5">
        <div class="container text-center">
            <small>Все права защищены</small>
        </div>
    </footer>
</div>
</body>
</html>
