<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<link rel="stylesheet" type="text/css" href="../css/registry.css">
	<link rel="stylesheet" type="text/css" href="../css/pet_add.css">
	<link rel="stylesheet" type="text/css" href="../css/popup.css">
	
	<title></title>
</head>
<body>
	<div class="wrapper">
		<div class="header_Container">
			<header>
			<div class="header__sidebarLeft"></div>
			<div class="header__sidebarRight">
				<div class="autorization"></div>
			</div>	
		</header>

		<nav>
			
			<div class="nav__sidebar_left">
				<div class="nav__logo">LOGO</div>
				<div class="nav__sidebar_button">l</div>
				<div class="nav__sidebar_button">Наши питомцы</div>
				<div class="nav__sidebar_button">l</div>
				<div class="nav__sidebar_button">l</div>
				<div class="nav__sidebar_button">l</div>
			</div>

			<div class="nav__sidebar_right">
				<div class="nav__sidebar_button">r</div>
				<div class="nav__sidebar_liked"></div>	
			</div>
		</nav>
		</div>

		<content>

		<div class="searchForm">
			<div class="searchForm__buttons">
				<div class="searchForm__buttons__button"></div>
				<div class="searchForm__buttons__button"></div>
			</div>
		</div>
		<!-- =========[pet_card]================== -->
			
			<!-- =========[/pet_card]================== -->
		</content>

		<footer>
			<div class="footer__inner"></div>
		</footer>

	</div>

	<div id = 'popup' class = 'popup'>
	<div class = 'popup_body'>
		<div class = 'popup_content'>
		<a href = '#' class = 'popup_close'>x</a>
			<div class = 'popup_title'>Это модальное окно</div>
			<div class = 'popup_text'>
				Тут будет карточка 
			</div>
		</div>
	</div>
	</div>

</body>
</html>