<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<link rel="stylesheet" type="text/css" href="../css/registry.css">
	<link rel="stylesheet" type="text/css" href="../css/popup.css">
	<link rel="stylesheet" type="text/css" href="../css/filters.css">
	
	<title></title>
</head>
<body>
	<div class="wrapper">
		<div class="header_Container">
			<header>
			<div class="header__sidebarLeft"></div>
			<div class="header__sidebarRight">
				<div class="autorization"></div>
			</div>	
		</header>

		<nav>
			
			<div class="nav__sidebar_left">
				<div class="nav__logo">LOGO</div>
				<div class="nav__sidebar_button">l</div>
				<div class="nav__sidebar_button">Наши питомцы</div>
				<div class="nav__sidebar_button">l</div>
				<div class="nav__sidebar_button">l</div>
				<div class="nav__sidebar_button">l</div>
			</div>

			<div class="nav__sidebar_right">
				<div class="nav__sidebar_button">r</div>
				<div class="nav__sidebar_liked"></div>	
			</div>
		</nav>
		</div>

		<content>

		<div class="searchForm">
			<h2>Найти друга</h2>
			<div class="registry-petCard">			
				

				<div class="registry-petCard__cols">
					

					<div class="registry-petCard__cols__col2">
						<div class="registry-petCard__cols__col2__item">
							<p>Тип животного </p>
							<div class="pet_type">
								<select>
									<option>-не выбрано-</option>
								    <option>собака</option>
								    <option>кошка</option> 
								</select>
							</div>
						</div>
						<div class="registry-petCard__cols__col2__item">
							<p>Пол </p>
							<div class="pet_gender">
								<select>
									<option>-не выбрано-</option>
								    <option>мужской</option>
								    <option>женский</option> 
								</select>
							</div>
						</div>
						<div class="registry-petCard__cols__col2__item">	
						<p>Окрас </p>
							<div class="pet_color">
								<select>
									<option>-не выбрано-</option>
								    <option>черный</option>
								    <option>рыжий</option>
									<option>темно-коричневый</option> 
									<option>светло-коричневый</option> 
									<option>чепрачный</option> 
									<option>черно-белый</option> 
									<option>перец с солью</option> 
									<option>серебристый</option>
									<option>голубо-кремовый черепаховый</option>
									<option>тигровый</option>
									<option>кремовый</option>
									<option>белый</option>
									<option>биколор</option>
									<option>палевый</option>
									<option>мраморный</option>
									<option>арлекин</option>
									<option>черепаховый</option>
									<option>золотой</option>
									<option>шоколадный</option>
									<option>дымчатый</option>
									<option>триколор</option>
									<option>красный</option>
									<option>черно-красный-белый</option>
									<option>голубой с белым</option>
									<option>абркосовый</option>
									<option>соболиный</option>
									<option>красный с белым</option>	
								</select>
							</div></div>
						<div class="registry-petCard__cols__col2__item">
							<p>Уши </p>
							<div class="pet_ears">
								<select>	
									<option>-не выбрано-</option>
									<option>стоячие</option>
									<option>полустоячие</option>
									<option>висячие</option>
									<option>купированные</option>
								</select>
							</div>
						</div>
						<div class="registry-petCard__cols__col2__item">
							<p>Размер </p>
							<div class="pet_size">
								<select>
									<option>-не выбрано-</option>
									<option>средний</option>
									<option>малый</option>
									<option>крупный</option>
								</select>
							</div>
						</div>
					</div>

					<div class="registry-petCard__cols__col3">
						<div class="registry-petCard__cols__col3__item">
							<p>Возраст, год </p>
							<div class="pet_age">
								<select>
									<option>-не выбрано-</option>
									<option>2000-2005</option>
									<option>2006-2010</option>
									<option>2011-2015</option>
									<option>2016-2020</option>
								</select>
							</div>
						</div>

						<div class="registry-petCard__cols__col3__item">
							<p>Вес,кг </p>
							<div class="pet_weight">
								<select>
									<option>-не выбрано-</option>
									<option><1</option>
									<option>1-5</option>
									<option>6-10</option>
									<option>11-15</option>
									<option>16-20</option>
									<option>21-25</option>
									<option>26-30</option>
									<option>26-30</option>
									<option>31-35</option>
									<option>36-40</option>
									<option>>40</option>
								</select>
							</div>
						</div>

						<div class="registry-petCard__cols__col3__item">
							<p>Порода </p>
							<div class="pet_breed">
								<select>
									<option>-не выбрано-</option>
									<option>метис</option>
								</select>
							</div>
						</div>

						<div class="registry-petCard__cols__col3__item">
							<p>Шерсть </p>
							<div class="pet_wool">
								<select>
									<option>-не выбрано-</option>
									<option>короткая</option>
									<option>обычная</option>
									<option>длинная</option>
								</select>
							</div>
						</div>

						<div class="registry-petCard__cols__col3__item">
							<p>Хвост</p>
							<div class="pet_tail">
								<select>
									<option>-не выбрано-</option>
									<option>обычный</option>
									<option>купированный</option>
									<option>саблевидный</option>
									<option>поленом</option>
									<option>крючком</option>
								</select>
							</div>
						</div>
					</div>

					
				</div>

			<div class="searchForm__buttons">
				<div class="searchForm__buttons__button">
					Найти
				</div>
				<!-- <div class="searchForm__buttons__button"></div> -->
			</div>
		</div>
	</div>



		</content>

		<footer>
			<div class="footer__inner"></div>
		</footer>

	</div>

	<div id = 'popup' class = 'popup'>
	<div class = 'popup_body'>
		<div class = 'popup_content'>
		<a href = '#' class = 'popup_close'>x</a>
			<div class = 'popup_title'>Это модальное окно</div>
			<div class = 'popup_text'>
				Тут будет карточка 
			</div>
		</div>
	</div>
	</div>

</body>
</html>