<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<link rel="stylesheet" type="text/css" href="../css/pets.css">
	<title></title>
</head>
<body>
	<div class="wrapper">
		<div class="header_Container">
			<header>
			<div class="header__sidebarLeft"></div>
			<div class="header__sidebarRight">
				<div class="autorization"></div>
			</div>	
		</header>

		<nav>
			
			<div class="nav__sidebar_left">
				<div class="nav__logo">LOGO</div>
				<div class="nav__sidebar_button">l</div>
				<div class="nav__sidebar_button">Наши питомцы</div>
				<div class="nav__sidebar_button">l</div>
				<div class="nav__sidebar_button">l</div>
				<div class="nav__sidebar_button">l</div>
			</div>

			<div class="nav__sidebar_right">
				<div class="nav__sidebar_button">r</div>
				<div class="nav__sidebar_liked"></div>
				
			</div>
		</nav>
		</div>

		<content>
			<div class="content__featuredPets">
				<h1>Featured Pets</h1>
				<div class="content__featuredPets__filters-container">
					<div class="filters__catalog-nav"></div>
					<div class="filters__buttons">
						<div class="filters__buttons__button"></div>
						<div class="filters__buttons__button"></div>
						<div class="filters__buttons__button"></div>
						<div class="filters__buttons__button"></div>
						<div class="filters__buttons__button"></div>
					</div>
					
				</div>
				<div class="content__featuredPets__cards">
					<div class="petCard">
						<div class="petCard__img"></div>
						<div class="petCard__name"></div>
						<div class="petCard__description"></div>
						<div class="petCard__likeButton"></div>
					</div>

					<div class="petCard">
						<div class="petCard__img"></div>
						<div class="petCard__name"></div>
						<div class="petCard__description"></div>
						<div class="petCard__likeButton"></div>
					</div>

					<div class="petCard">
						<div class="petCard__img"></div>
						<div class="petCard__name"></div>
						<div class="petCard__description"></div>
						<div class="petCard__likeButton"></div>
					</div>

					<div class="petCard">
						<div class="petCard__img"></div>
						<div class="petCard__name"></div>
						<div class="petCard__description"></div>
						<div class="petCard__likeButton"></div>
					</div>

					<div class="petCard">
						<div class="petCard__img"></div>
						<div class="petCard__name"></div>
						<div class="petCard__description"></div>
						<div class="petCard__likeButton"></div>
					</div>
					
					<div class="petCard">
						<div class="petCard__img"></div>
						<div class="petCard__name"></div>
						<div class="petCard__description"></div>
						<div class="petCard__likeButton"></div>
					</div>
				</div>
				
			</div>
		</content>

		<footer>
			<div class="footer__inner"></div>
		</footer>

	</div>

</body>
</html>