<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<link rel="stylesheet" type="text/css" href="../css/registry.css">
	<link rel="stylesheet" type="text/css" href="../css/popup.css">
	
	<title></title>
</head>
<body>
	<div class="wrapper">
		<div class="header_Container">
			<header>
			<div class="header__sidebarLeft"></div>
			<div class="header__sidebarRight">
				<div class="autorization">
					Войти
				</div>
			</div>	
		</header>

		<nav>
			
			<div class="nav__sidebar_left">
				<div class="nav__logo">LOGO</div>
				
				<div class="nav__sidebar_button">Наши питомцы</div>
				
			</div>

			<div class="nav__sidebar_right">
				<div class="nav__sidebar_button">Понравившиеся</div>
				
				
			</div>
		</nav>
		</div>

		<content>

		<div class="searchForm">

			<div class="searchForm__registry-petCard">	
				<div class="searchForm__registry-petCard__row">
					<div class="searchForm__registry-petCard__item">
					<p>Номер карточки учета животного:</p><input class="searchForm__pet_number"/>
					<div class="searchForm__pet_cardNumber"></div> 
				</div>
				
				<div class="searchForm__registry-petCard__item">
						<p>Идентификационная метка: </p>
						<input class="searchForm__pet_identificator"/>
				</div>
				<div class=".searchForm__registry-petCard__item">
						<p>Период регистрации карточки: </p>
						<input class="searchForm__pet_cardReg"/>
				</div>
				</div>
				
				
				
				
				<h2>Основные сведения:</h2>

				<div class="searchForm__registry-petCard__cols">
					

					<div class="searchForm__registry-petCard__cols__col2">
						<div class="searchForm__registry-petCard__cols__col3__item">
							<p>Кличка</p>
							<input class="searchForm__pet_name"/>
						</div>
						<div class="searchForm__registry-petCard__cols__col2__item">						
						</div>
						<div class="searchForm__registry-petCard__row">
							<div class="searchForm__registry-petCard__cols__col2__item">
							<p>Вид животного: </p>
							<div class="searchForm__pet_type">
								<select>
									<option>-не выбрано-</option>
								    <option>собака</option>
								    <option>кошка</option> 
								</select>
							</div>
						</div>
						<div class="searchForm__registry-petCard__cols__col2__item">
							<p>Размер: </p>
							<div class="pet_size">
								<select>
									<option>-не выбрано-</option>
									<option>средний</option>
									<option>малый</option>
									<option>крупный</option>
								</select>
							</div>
						</div>
						<div class="searchForm__registry-petCard__cols__col3__item">
							<p>Возраст, год: </p>
							<div class="searchForm__pet_age">
								<select>
									<option>-не выбрано-</option>
									<option>2000-2005</option>
									<option>2006-2010</option>
									<option>2011-2015</option>
									<option>2016-2020</option>
								</select>
							</div>
						</div>
						<div class="searchForm__registry-petCard__cols__col3__item">
							<p>Статус животного </p>
							<div class="searchForm__pet_status">
								<select>
									<option>-не выбрано-</option>
									<option>клинически здорово</option>
									<option>Печеночная недостаточность</option>
									<option>лейкоз</option>
									<option>иммунодфицит без клинических проявлений</option>
									<option>одышка, состояние удовлетворительное</option>
									<option>одышка, отсутствие аппеттита, вялость</option>
									<option>рвота,диарея</option>
									<option>отсутствие аппетита,диарея</option>
									<option>Дыхательная недостаточность</option>
									<option>Пневмания</option>
									<option>диарея, отсутствие аппетита</option>
									<option>цистит</option>
									<option>н\о печени    гепатоз</option>
									<option>лимфосаркома</option>
									<option>новообразование печени</option>
									<option>вирусный перитонит</option>
									<option>удовлетворительно</option>								
								</select>
							</div>
						</div>
						
						</div>
					</div>

					<div class="searchForm__registry-petCard__cols__col3">		
					</div>
				
					
				</div>
				<div class="searchForm__registry-petCard__item">
					<p>Административный округ</p>
					<input class="searchForm__pet_AdmOkr"/>
				</div>
				
				<h2>Приют</h2>
					<div class="searchForm__registry-petCard__item">
						<p>Адрес приюта</p>
							<select>
								<option>-не выбрано-</option>
								<option>г.Москва, Зеленоград, Фирсановское ш., вл.5А</option>
								<option>г.Москва, ул.Рассветная аллея, влд.10</option>
								<option>г.Москва, ул. Пехорская 1Б, с.6</option>
								<option>г.Москва, ул. Родниковая, вл.26</option>
								<option>г.Москва, Востряковский пр-д, вл.10 А</option>
								<option>г.Москва, ул.Красной Сосны, вл. 30, стр.4</option>
								<option>г.Москва, проезд Дубовой Рощи, вл.23-25</option>
								<option>г.Москва, ул.Искры, вл. 23А</option>
								<option>г.Москва, ул.Брусилова, вл.32, стр.1-5 </option>
								<option>г.Москва, ул.2-я Вольская, вл.17 стр.3</option>
								<option>г.Москва, Проектируемый проезд №5112, вл.2\1</option>
								<option>г.Москва, Машкинское шоссе, вл. 4</option>
								<option>г.Москва, Проектируемый проезд, 727</option>								
							</select>
					</div>
					
				<h2>Движение животного</h2>

					<div class="searchForm__registry-petCard__item">
						<p>Дата выбытия из приюта</p>
							<input class="searchForm__pet_disposalDate"/>
					</div>


			<div class="searchForm__buttons">
				<div class="searchForm__buttons__button">
					Найти
				</div>

				
		</div>
		<!-- =========[pet_card]================== -->
			
		<div class="registry-pet_card">
			<div class="registry-pet_card__photo"></div>
			<div class="registry-petCard">
				<div class="registry-petCard__header">
					<h1>Карточка учета животного  №</h1>
					<div class="pet_cardNumber"></div> 

				</div>
				

				

				<div class="registry-petCard__cols">
					<div class="registry-petCard__cols__col1">
						<div class="registry-petCard__photo"></div>
					</div>

					<div class="registry-petCard__cols__col2">
						<div class="registry-petCard__cols__col2__item">
							<p>Тип животного</p>
							<input class="pet_type"/>
						</div>
						<div class="registry-petCard__cols__col2__item">
							<p>Пол</p>
							<input class="pet_gender"/>
						</div>
						<div class="registry-petCard__cols__col2__item">	<p>Окрас</p>
							<input class="pet_color"/></div>
						<div class="registry-petCard__cols__col2__item">
							<p>Уши</p>
							<input class="pet_ears"/>
						</div>
						<div class="registry-petCard__cols__col2__item">
							<p>Размер</p>
							<input class="pet_size"/>
						</div>
					</div>

					<div class="registry-petCard__cols__col3">
						<div class="registry-petCard__cols__col3__item">
							<p>Возраст</p>
							<input class="pet_age"/>
						</div>

						<div class="registry-petCard__cols__col3__item">
							<p>Вес</p>
							<input class="pet_weight"/>
						</div>

						<div class="registry-petCard__cols__col3__item">
							<p>Кличка</p>
							<input class="pet_name"/>
						</div>

						<div class="registry-petCard__cols__col3__item">
							<p>Порода</p>
							<input class="pet_breed"/>
						</div>

						<div class="registry-petCard__cols__col3__item">
							<p>Шерсть</p>
							<input class="pet_wool"/>
						</div>

						<div class="registry-petCard__cols__col3__item">
							<p>Хвост</p>
							<input class="pet_tail"/>
						</div>
	
					</div>

					
				</div>

		</div>
		</content>

		
	</div>

	

</body>
</html>